body {
  font-family: 'ZillaSlab-medium', sans-serif
}

.App{
display: flex;
flex-direction: row;
}

.sidenav---sidenav---_2tBP{
  background-color: #242424 !important;
  position: sticky !important;
  left: 0 !important
}


 .sidenav---sidenav-toggle---1KRjR{
   border:dashed 0.5px red !important;
   position: sticky !important;
   top:0 !important;
 }

 .sidenav---sidenav-nav---3tvij{
  border:dashed 0.5px blue !important;
  position: sticky !important;
  top:4em
 }

.PageContentStore{
  display: flex;
  flex-direction: column;
}

.Content{
border: solid red 1px;
margin: 0 1em;
padding:5px;
}


.Header-Open{
  color: #242424;
  height:100vh;
  display: table-cell;
  vertical-align: middle;
  border: solid 1px blue;
  width: 90%;
}


#topline{
  font-size: 1.5em;
  margin:auto;
  color: #4b4b4b;
}

.Header-Open p{
  text-align: center;
  font-size: 4.5em;
  font-family: "Din Alternate";
  color:#ff834a
}

.AboutOpen{
font-size: 1.9em;
display: flex;
flex-direction: row-reverse;
border: solid 1px blue;
margin: 1em 0
}

.AboutOpen p{
  text-align: justify;
  margin:auto;
  padding-left:10px;
  padding-right: 5px;
}

.AboutOpen h1{
  color: #4b4b4b;
  text-align: center;
  border: dashed 1px black;
  font-size: 7em;
  margin:0 !important;
  padding: 20px;
}

.AboutWords h2{
  color: #ff834a;
  margin:auto;
  padding-left:10px;;
  font-family: 'GT Pressura Trial';
}

.What{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
  border: solid 1px blue;
  padding:5px;
}

.Services{
  border: black 0.5px dotted;
  width:95%;
}

.Services li{
  display: inline-block;
  line-height: 1em;
  padding-right: .5em;
}

.Services ul{
  margin:0 !important;
  padding: 0 !important;
  font-size: 3.5em;
  font-family: "Din Alternate";
  color:#ff834a;
}

.Services p{
  font-size: 3em;
  text-align: justify;
  margin:15px;
  font-family: "Din Alternate";
  color: #242424
}

 .Socials{
  display: flex;
  flex-direction: column;
 }

.Socials p{
  text-align: center;
  font-size: 1.8em;
  margin:auto;
  margin-bottom: 1em;
  border: dotted black 1px;
}

#promise{
  text-align: center;
  font-size: 2em;
  font-family: "ZillaSlab-Medium", sans-serif;
  color: #242424;
  margin-top:1.5em;
}

.twitter-follow-button-rendered{
  border:solid 1px blue !important;
}
 
#follow-button{
  border:solid 1px black !important
}

.twitter-embed{
  border: solid blue 1px;
}

.Who{
  margin: 2em 0;
  border: solid 1px blue
}

.Who p{
  font-size: 1.9em; 
  text-align: justify;
  width: 85%;
  margin:auto;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #4b4b4b;
  border: dotted black 1px;
}

.LogoStore{
  padding:10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: solid black 1px;
  width: 90%;
  margin:auto auto 20px auto;
  grid-gap: 10px;
}

.LogoStore p{
  text-align: center;
  color: #242424;
}

.Footer{
  background-color: #242424;
  color: white;
  font-size: 1em;
  display: flex; 
  flex-direction: row;
}

.Footer ul{
  list-style: none;
  padding:5px
}

.Footer li{
  padding:5px;
}

.Footer p{
  margin:auto;
}