body {
  font-family: 'ZillaSlab-medium', sans-serif
}

.App{
 display: flex;
 flex-direction: column;
}

.PageContentStore{
  display: flex;
  flex-direction: row;
}

.PageContent{
margin: 0 2em;
border: dashed red 2px;
}

.Header-Open{
  color: #242424;
  height:100vh;
  display: table-cell;
  vertical-align: middle;
  border: solid 1px blue;
}

.Header-Open p{
  text-align: center;
  font-size: 5em;
}


.AboutOpen{
font-size: 2.5em;
display: flex;
flex-direction: row-reverse;
border: solid 1px blue;
margin: 1em 0
}

.AboutOpen p{
  text-align: justify;
  width: 70%;
  margin:auto;
}

.AboutOpen h1{
  background-color: #242424;
  color: white;
  text-align: center;
  margin: auto;
}




.sidenav---sidenav---_2tBP{
   background-color: #242424 !important
 }



.What{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
  border: solid 1px blue;

}

.Services{
  border: black 0.5px dotted;
  padding:5px;
}

.Services li{
  display: inline-block;
  margin:5px;
}

.Services ul{
  margin:0 !important;
  padding: 0 !important;
  font-size: 2.5em;
}

.Services p{
  font-size: 2em;
  text-align: center;
  width:90%;
}

.Socials{
  display: flex;
  flex-direction: column;
}

.Socials h1{
  background-color: #242424;
  color: white;
  margin: auto;
  text-align: center;
}

.Who p{
  font-size: 2em; 
  text-align: center;
  width: 85%;
  margin:auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.LogoStore{
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
background-color: #242424;
color: white;
border: solid black 1px;
width: 90%;
margin:auto auto 20px auto;
grid-gap: 10px;
}

.Who{
  margin: 2em 0;
  border: solid 1px blue
}


.LogoStore{
  border: red 1px solid ;
  padding:10px;
}

.LogoStore p{
  text-align: center;
}

.Footer{
  background-color: #242424;
  color: white;
  font-size: 1.5em;
  display: flex; 
  flex-direction: row
}

.Footer ul{
  list-style: none;
  padding:5px
}

.Footer li{
  padding:10px;
}

.Footer p{
  margin:auto;
}

