body {
  font-family: 'ZillaSlab-medium', sans-serif;
  scroll-behavior: smooth;

}

.App{
display: flex;
flex-direction: row;
}

.sidenav---sidenav---_2tBP{
background-color: #242424 !important;
}

.sidenav---navtext---1AE_f{
  color: white !important;
  font-size: 1.5em;
}

#nav-contact{
  color:#ff834a !important;
  text-decoration: underline
}

.PageContentStore{
  position: fixed;
  left:3em;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
}

.Content{
  position: relative;
  border: solid red 1px;
  margin: 0 1em;
  padding:5px;
}

.Header-Open{
  color: #242424;
  height:92vh;
  display: table-cell;
  vertical-align: middle;
  border: solid 1px blue;
  width: 90%;
}

#topline{
  font-size: 1.5em;
  margin:auto;
  color: #9e9e9e;
}

.Header-Open p{
  text-align: center;
  font-size: 4.5em;
  font-family: "Manrope";
  font-weight: 700;
  color:#505050
}

.AboutOpen{
font-size: 1em;
display: flex;
flex-direction: row-reverse;
border: solid 1px blue;
margin: 1em 
}

.AboutOpen p{
  text-align: justify;
  font-size: 1.5em;
  padding: 10px;
  margin:auto;
}

.AboutOpen h1{
  color: #4b4b4b;
  text-align: center;
  border: dashed 1px black;
  font-size: 200px;
  margin:0 !important;
  padding: 20px;
}

.Page-Heading{
  color: #8d8d8d;
  font-family: 'Manrope';
  font-size: 2.2em;
  font-weight: 750;
  text-align: left;
  margin:5px;
}

.What{
  margin-top: 2em;
  border: solid 1px blue;
  padding:5px;
  display: flex;
  flex-direction: row;
}

.Services{
  margin-left: 1em
}

.Services ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  width: 40em;
  border: solid 1px black
}

.Services li{
  font-family: 'Manrope',sans-serif;
  font-weight: 650;
  font-size: 3.3em;
  line-height: 1.1em;
  display: inline-block
}

.What-Words{
  display: flex;
  flex-direction: column;
  padding:10px;
}

.What-Words p{
  font-family: 'Manrope' , sans-serif;
  font-weight: 550;
  font-size: 2.5em;
  color: #242424;
  margin: auto
}

#promise{
  font-size: 2em;
  font-family: 'ZillaSlab-regular';
  text-align: center;
  border:solid 1px black;
  padding:10px;
  width:85%;
  margin:auto;
}

 .Socials{
border:solid 1px blue; 
padding: 5px;
margin-top: 2em;
display:flex;
flex-direction: row;
 }



 #topper{
   font-size: 1.8em;
   margin-bottom: 1em;
   text-align:justify;
   width:97%;
 }



.Reviews{
  padding: 10px;
  width:90%;
  border:solid 1px black;
  margin:auto;
  margin-right:1em;
}

.Reviews p{
  font-size: 2.2em;
  margin:auto;
}


.Review-Container{
  list-style:none;
  border-left: solid 2px #ff834a;
  padding: 0 0 10px 10px;
}

.Review{
  font-size: 1.5em;
  text-align: justify;
  font-family: 'ZillaSlab-regular'
}

.Reviewer{
  font-size:1.3em;
  text-align: right;
  line-height:1em
}

.twitterContainer{
  border: solid 1px black;
  padding:5px;
  width:80%;
}

.twitter-follow-button-rendered{
  padding:5px !important;
}

.twitter-embed{
  overflow: scroll;
  height:62em;
  width:35em;
}

.Mini-Contact{
  padding:5px;
  width: 90%;
}

.Item-Container{
  max-width: 200px;
  margin-left:1em; 
}

.Contact-Item{
display: grid;
grid-template-rows: 0.5fr 0.5fr;
max-width: 200px;
margin-bottom: 10px;
}

#touch{
  font-size: 2.2em;;
  font-family: 'Manrope';
  font-weight: 600;
}

#touch-info{
  font-size: 1.5em;
  font-family: 'ZillaSlab-regular';
  margin-bottom: 0.5em;
}

#title{
grid-area: 1/1;
display: grid;
grid-template-columns: 1fr 3fr;
margin: 0 auto 0 0;
}

#title svg{
height:25px;
width:25px;
margin:auto;
}

#title p{
  text-align: center;
  font-size: 1.5em;
  margin:3px;
  font-family: 'Manrope';
  font-weight: 600;
}

.Contact-Item span{
  font-size: 1.5em;
  text-align: center;
  margin:0 auto auto 0;
  font-family: 'Manrope';

}

.Who{
  margin: 2em 0;
  border: solid 1px blue;
  padding:5px
}

.Who p{
  font-size: 1.9em; 
  text-align: justify;
  width: 80%;
  margin:auto;
  padding-bottom: 20px;
  color: #4b4b4b;
}

.LogoStore{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: solid black 1px;
  width: 90%;
  margin:auto
}

.LogoStore span{
  border-right: dashed 1px black;
  border-bottom: dashed 1px black;
  font-size: 3em;
  text-align: center
}

.Footer{
  background-color: #242424;
  color: white;
  font-size: 1em;
  display: flex; 
  flex-direction: row;
  margin-left: 0.5em !important
}

.Footer ul{
  list-style: none;
  padding:5px
}

.Footer li{
  padding:5px;
}

.Footer p{
  margin:auto;
}

.Page-Break{
  padding:10px;
  background-color: aliceblue;
  margin: 2em -2em 0 -2em
}

.Page-Break p{
  font-family: 'Manrope', sans-serif;
  font-weight: 700; 
  font-size:2.5em;
  text-align: center;
  width:85%;
  margin:auto;
}

#splash{
  color: #ff834a
}